.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  --background-url: url("../../../assets/spoilers/turbulence_1x.png");
  --background-size: 256px;
  background: rgba(0, 0, 0, 0.25) var(--background-url);
  background-size: var(--background-size) var(--background-size);

  transition: transform 500ms ease-in;
  transform-origin: calc(50% + var(--click-shift-x))
    calc(50% + var(--click-shift-y));

  @media (-webkit-min-device-pixel-ratio: 2) {
    --background-url: url("../../../assets/spoilers/turbulence_2x.png");
  }

  @media (-webkit-min-device-pixel-ratio: 3) {
    --background-url: url("../../../assets/spoilers/turbulence_3x.png");
  }

  --x-direction: var(--background-size);
  --y-direction: 0;
}

.dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-url);
  background-size: var(--background-size) var(--background-size);

  --x-direction: 0;
  --y-direction: var(--background-size);
  animation: 2s linear -0.8s infinite opacity-breath;
  background-position: calc(var(--x-direction) / 2) calc(var(--y-direction) / 2);
}

.dots::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-url);
  background-size: var(--background-size) var(--background-size);

  --x-direction: calc(-1 * var(--background-size));
  --y-direction: calc(-1 * var(--background-size));
  animation: 2s linear -1.5s infinite opacity-breath;
  background-position: calc(var(--x-direction) / 2) calc(var(--y-direction) / 2);
}

.spoiler {
  background-image: url("../../../assets/spoiler-dots-white.png");
  background-size: auto min(100%, 1.125rem);
  border-radius: 0.5rem;
  padding: 0 0.3125rem 0.125rem 0.3125rem;
  text-shadow:
    -2px -2px 0 var(--color-background),
    2px -2px 0 var(--color-background),
    -2px 2px 0 var(--color-background),
    2px 2px 0 var(--color-background);
  animation: pulse-opacity-light 1.75s linear infinite;
}

/* html.theme-dark & .spoiler {
    background-image: url("../../../assets/spoiler-dots-white.png");
  } */

@keyframes pulse-opacity-light {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 1;
  }
}
